[user]
	name = Joseph Liu
	email = froseph@gmail.com
[color]
	ui = true
[alias]
#    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    co = checkout
    report = "!git log --since 'last week' --author `git config user.email` --graph --pretty=short"
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
#    prune = remote prune origin
[diff]
    algorithm = patience
    #--ignore-space-at-eol -b -w --ignore-blank-lines
[push]
	default = simple
[core]
	trustctime = false
